# Data Prep and Loading

In [ ]:
import opendp.prelude as dp
dp.enable_features('contrib')
import numpy as np 
import pandas as pd
from race_imputation import race_imputation_model
import data_preprocessing_utils
# force all columns to show on head call
pd.set_option('display.max_columns', None)

In [3]:
voter_data_all = pd.read_csv('./data/combined_nc.csv', nrows=100)

voter_data_all.head()

,Unnamed: 0,last_name,first_name,middle_name,address,city,zip,county_name,race,age,party,lic,n_voted,voted_2014_11,voted_2015_11,voted_2016_11,voted_2017_11,voted_2018_11,voted_2019_11,voted_2020_11,voted_2021_11,voted_2022_11,state_code,county_code,tract_code,block_code
0,0,AABEL,RUTH,EVELYN,NaN,NaN,NaN,Alamance,white,"[85,150)",ind,False,4,True,False,True,False,True,False,True,False,False,NaN,NaN,NaN,NaN
1,1,AARON,CLAUDIA,HAYDEN,1013 EDITH ST,BURLINGTON,27215.0,Alamance,white,"[75,80)",ind,True,9,True,True,True,True,True,True,True,True,True,37.0,1.0,20602.0,2025.0
2,2,AARON,KIMBERLY,GREEN,187 CAVALIER WAY #104,BURLINGTON,27215.0,Alamance,black,"[55,60)",dem,True,4,True,False,True,False,True,False,True,False,False,NaN,NaN,NaN,NaN
3,3,AARON,SANDRA,ESCOBAR,1013 EDITH ST,BURLINGTON,27215.0,Alamance,hisp,"[45,50)",ind,False,2,True,False,False,False,False,False,True,False,False,37.0,1.0,20602.0,2025.0
4,4,AARON,WILLIE,DALE,1013 EDITH ST,BURLINGTON,27215.0,Alamance,white,"[80,85)",rep,True,8,True,True,True,True,True,False,True,True,True,37.0,1.0,20602.0,2025.0

In [ ]:
voter_data = prep